{
  "arrowParens": "avoid",
  "printWidth": 120,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "semi": true
      }
    }
  ]
}
